<h1>Here is a list of players you are searching for</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Rating</th>
            <th>Jersey Number</th>
            <th>Team</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        <% for (player of players){ %>
            <tr class="mb-2">
                <td>
                    <a href="/players/<%=player.full_name%>/<%=player.team%>/<%=player.jersey.slice(1)%>">
                        <%= player.full_name %>
                    </a>
                </td>
                <td>
                    <%= player.rating %>
                </td>
                <td>
                    <%= player.jersey%>
                </td>
                <td>
                    <a href="/teams/<%= player.team %>"><%= player.team %></a>
                </td>
                <td>
                    <%= player.position %>
                </td>
            </tr>
            <% } %>
    </tbody>
</table>